:root {
  --Dark-Blue: hsl(217, 28%, 15%);
  --Dark-Blue-background: hsl(218, 28%, 13%);
  --Dark-Blue-footer-background: hsl(216, 53%, 9%);
  --Dark-Blue-testimonials-background: hsl(219, 30%, 18%);

  /* ### Accent */

  --Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --Light-Red-error: hsl(0, 100%, 63%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --text-body: "Open Sans", sans-serif;
  --text-headings: "Raleway", sans-serif;
}

/* reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
ul,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* style guide */

button {
  cursor: pointer;
}

/* Structure */

body {
  color: var(--White);
  background: var(--Dark-Blue-background);
}

header {
  padding: 73px 80px;
}

/* header */

header {
  background-color: var(--Dark-Blue);
}

.inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}

.inner-header nav {
  display: flex;
  gap: 55px;
  font-family: var(--text-headings);
}

/* secure location */

.secure-location {
  display: flex;
  width: 100%;
  justify-content: center;
  background: url(/images/bg-curvy-desktop.svg), var(--Dark-Blue);
  background-position: bottom;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  font-family: var(--text-headings);
}

.secure-location-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

.secure-location img {
  width: 720px;
}

.secure-location-text {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.secure-location h1 {
  font-weight: bold;
  font-size: 40px;
  width: 734px;
  text-align: center;
}

.secure-location p {
  font-size: 20px;
  width: 589px;
  text-align: center;
}

.secure-location button {
  width: 280px;
  height: 56px;
  background-color: var(--Blue-inside-call-to-action-gradient);
  color: var(--White);
  border-radius: 30px;
  border: none;
  font-size: 16px;
}

.secure-location button:hover {
  background-color: var(--Cyan-inside-call-to-action-gradient);
}

/* tsust section */

.trust {
  padding: 158px 280px;
  display: flex;
  justify-content: center;
}

.inner-trust {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 157px;
}

.features {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  gap: 9px;
}

.features img {
  margin-bottom: 5px;
}

.features h3 {
  font-family: var(--text-headings);
  font-size: 20px;
}

.features p {
  font-family: var(--text-body);
  font-size: 14px;
}

/* productiver section */

.productive {
  padding: 0 105px;
}

.inner-productive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 57px;
}

.column-1 {
  display: flex;
  justify-content: flex-end;
}

.column-1 img {
  width: 614px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-2-content {
  max-width: 560px;
}

.column-2-content h2 {
  font-family: var(--text-headings);
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  max-width: 400px;
  margin-bottom: 20px;
}

.column-2-content p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: normal;
  font-family: var(--text-body);
}

.column-2-content a {
  margin-top: 5px;
  color: #62e0d9;
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: pointer;
  font-family: var(--text-body);
}

.productive-call-to-action a:hover {
  color: var(--White);
  fill: white;
}

.arrow g use:hover {
  color: var(--White);
  fill: white;
}

.arrow {
  display: inline-block;
  transform: translateY(5px);
  margin-left: 4px;
  cursor: pointer;
}

/* testimonials */

.testimonials {
  position: relative;
  padding: 30px 0 200px 0;
}

.testimonials-body {
  padding: 150px 110px;
  display: flex;
  justify-content: center;
}

.inner-testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  max-width: 1380px;
}

.bg-quotes {
  position: absolute;
  z-index: 0;
  transform: translate(-15px, -30px);
  z-index: -1;
}

.testimonial {
  background-color: var(--Dark-Blue-testimonials-background);
  padding: 40px 25px;
  border-radius: 5px;
  font-family: var(--text-body);
}

.testimonial p {
  font-size: 14px;
  font-family: var(--text-body);
  line-height: 21px;
}

.lower-testimonial {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.testimonial img {
  width: 24px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.testimonial h4 {
  font-size: 10px;
  font-weight: bold;
}
.testimonial h5 {
  font-size: 8px;
  font-weight: normal;
  line-height: 10px;
}

footer {
  background-color: var(--Dark-Blue-footer-background);
  padding-top: 170px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 55px;
  font-family: var(--text-body);
}

.inner-footer {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.footer-row-2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 100px;
}

.footer-column-1 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 380px;
}

.footer-column-2 {
  display: flex;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
  column-gap: 1px;
  row-gap: 5px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 16px;
}

.contact-grid img {
  transform: translateY(5px);
  width: 20px;
}

.footer-column-3 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.column-3-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.footer-column-3 ul {
  list-style: none;
  line-height: 40px;
}

.footer-column-3 ul li {
  cursor: pointer;
}

.footer-column-3 ul li:hover {
  color: white;
}

.footer-column-4 {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 12px;
}

/* call to action */

.testimonials-call-to-action {
}

.floating-call-to-action {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.inner-call-to-action {
  transform: translateY(100px);
  background-color: var(--Dark-Blue-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 863px;
  margin: 0 auto;
  padding: 42px 77px;
  border-radius: 9px;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);
  border: none;
  align-items: center;
  text-align: center;
  gap: 32px;
}

.inner-call-to-action h2 {
  font-family: var(--text-headings);
  font-size: 32px;
}

.inner-call-to-action p {
  font-family: var(--text-body);
  font-size: 14px;
  line-height: 21px;
}

.inner-call-to-action form {
  display: flex;
  gap: 20px;
}

.inner-call-to-action form input {
  width: 480px;
  height: 48px;
  border-radius: 30px;
  padding-left: 25px;
}

.inner-call-to-action form input::placeholder {
  font-size: 12px;
  color: #c0c0c0;
  font-family: var(--text-body);
}

.inner-call-to-action form button {
  background-color: var(--Blue-inside-call-to-action-gradient);
  width: 200px;
  height: 48px;
  border-radius: 30px;
  color: var(--White);
  font-size: 14px;
  border: none;
  font-family: var(--text-headings);
  font-weight: bold;
}

.inner-call-to-action form button:hover {
  background-color: var(--Cyan-inside-call-to-action-gradient);
}

.alert-msg {
  display: none;
  margin: 0;
  padding: 0;
}

/* responsive styles */

@media screen and (max-width: 600px) {
  header {
    padding: 20px 30px 60px 30px;
    width: 100%;
  }

  header img {
    width: 80px;
  }

  .inner-header nav {
    gap: 15px;
    font-size: 12px;
  }

  .secure-location {
    padding: 0 1em;
  }

  .secure-location {
    width: 100vw;
  }

  .secure-location h1 {
    width: 88vw;
    font-size: 24px;
  }

  .secure-location p {
    width: 88vw;
  }

  .secure-location img {
    width: 100vw;
  }

  .trust {
    width: 100vw;
    padding: 200px 0;
  }

  .inner-trust {
    grid-template-columns: 1fr;
  }

  .features {
    width: 88vw;
  }

  .productive {
    padding: 0;
  }

  .inner-productive {
    grid-template-columns: 1fr;
  }

  .inner-productive img {
    width: 100vw;
  }

  .column-2 {
    margin: 0 auto;
    width: 88vw;
  }

  .testimonials {
    padding-top: 200px;
    padding-bottom: 400px;
  }

  .testimonials-body {
    padding: 0 2em;
  }
  .inner-testimonials {
    grid-template-columns: 1fr;
  }

  .floating-call-to-action {
    padding: 0 0;
  }

  .inner-call-to-action {
    padding: 10px 20px;
    width: 80vw;
    transform: translateY(180px);
  }

  .inner-call-to-action h2 {
    font-size: 18px;
  }

  .inner-call-to-action p {
    font-size: 14px;
  }

  form {
    flex-direction: column;
  }

  .inner-call-to-action form button,
  .inner-call-to-action form input {
    width: 280px;
    height: 48px;
  }

  footer {
    padding: 18em 2em 2em 2em;
  }

  .footer-row-1 img {
    width: 108px;
  }

  .footer-row-2 {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .column-3-links {
    grid-template-columns: 1fr;
  }

  .column-3-links ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
  }

  .fa-brands .fa-facebook {
    font-size: 8px;
  }
}
